body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar{
    z-index: 2;
}

.main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.imageWrap {
    padding:1rem 0 1rem 0;
    z-index: 1;
}

#loadingSpinner{
    font-size: 4rem;
    margin-bottom: 1rem;
}


.image-grid-container {
    margin-bottom: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    height: auto;
}

.image-container {
    position: relative;
    width: 33.33333%;
    display: inline-block;
    line-height: 0;
    padding: 1rem;
    transition: width 0.5s ease;
}

.image{
    padding-top: 100%;
    width: 100%;
    box-shadow: 0px 8px 25px -5px rgba(0,0,0,0.5);
    background: white;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    cursor: pointer;
    transition: opacity 0.4s ease;
}

#viewName {
    color: black;
    position: absolute;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    font-size: 1.8rem;
    text-transform: capitalize;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    -ms-transform: translate(50%, 50%);
    text-align: center;
    z-index: -1;
}

#viewButton {
    position: absolute;
    top: 90%;
    left: 10%;
    background: rgba(248,249,250,0.8);
    transform: translate(-10%, -90%);
    -ms-transform: translate(-10%, -90%);
    z-index:-1;
}

#deleteButton {
    position: absolute;
    top: 90%;
    left: 90%;
    background: rgba(248,249,250,0.8);
    transform: translate(-90%, -90%);
    -ms-transform: translate(-90%, -90%);
    z-index:-1
}

.image-container:hover .image{
    opacity: 0.4;
}

.image-container:hover #viewButton{
    z-index: 1;

}

.image-container:hover #deleteButton{
    z-index: 1;
}

.image-container:hover > #viewName{
    z-index: 1;
}

#searchBox {
    border-right: none;
    border-color: #6c757d;
    max-width: 30rem;
    z-index: 1;
}

#searchButton {
    border-left: none;
    z-index: 1;
}

#submitPhoto {
    margin-left: 0.5rem;
    z-index: 1;
}

#aboutButton {
    margin-left: 0.5rem;
}

#aboutButton:hover {
    color: white;
}

.overlay {
    position:fixed;
    width:100%;
    height:100%;
    min-height:100%;
    top:0;
    left:0;
    background:rgba(0,0,0,0.7);
    overflow: hidden;
    z-index: 3;
}

.overlay::after {
    height: 100%;
}

#overlayContainer{
    position: fixed;
    background-color: white;
    top: 50%;
    left: 50%;
    z-index: 4;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transition: width 0.5s ease;
}

.overlayContent {
    position: relative;
    margin: 2rem 0 2rem 0;
}

#viewPicture {
    color: white;
}

.closeButton {
    font-size: 2rem;
    position: absolute;
    right: 0;
    border: none;
    background-color: transparent;
}

.closeButton:hover, .closeButton:active, .closeButton:focus {
    color: #28a745;
    text-decoration: none;
    border: none;
}

#viewPicture .closeButton {
    color: white;
}

#viewPicture .closeButton:hover,#viewPicture .closeButton:active {
    color: #28a745;
    text-decoration: none;
}

#viewPicture #overlayContainer {
    max-width: 800px;
    background: none;
}

#viewPicture .overlayContent {
    padding: 1rem 0 1rem 0;
}

#viewPicture h3 {
    text-transform: capitalize;
}

.mutedText {
    font-size: 0.8rem;
}

#viewPictureWrap {
    max-width: 767px;
    max-height: 500px;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 1rem;
}

#viewPictureWrap .img-fluid {
    max-height: 500px;
    background-color: #ddd;
}

#viewFamily {
    position: absolute;
    left:0
}

#viewScientific {
    position: absolute;
    right:0
}

#DeletePhotoOverlay #overlayContainer{
    max-width: 35rem;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .image-grid-container {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .image-container {
        width: 100%;
    }

    #viewName{
        font-size: 1.2rem;
    }

    #viewFamily {
        position: relative;
    }

    #viewScientific {
        position: relative;
    }

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .image-container {
        width: 50%;
    }

    #viewName{
        font-size: 1rem;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .image-container {
        width: 50%;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}